body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: url(./images/pattern.png);
  height: 300vh;
}

img {
  max-width: 100%;
  height: auto;
}
